*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: brown;
  color: white;
}

/* DARK THEME COLORS  */
.dark__theme__bg {
  background: #121212 !important;
}

.dark__theme__color {
  color: white !important;
}

.dark__theme__skills__color {
  color: whitesmoke !important;
}

/* DARK THEME COLORS  */

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
  /* cursor: pointer; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
